In [1]:
suppressWarnings(suppressMessages(library("rvest")))
suppressWarnings(suppressMessages(library("tidyverse")))
suppressWarnings(suppressMessages(library("magrittr")))
suppressWarnings(suppressMessages(library("XML")))
suppressWarnings(suppressMessages(library("dplyr")))
suppressWarnings(suppressMessages(library("lubridate")))
suppressWarnings(suppressMessages(library("dplyr")))

In [ ]:
for (i in 0:4) {
cat(i, "\n")
}

i <- 0
while (i < 5) {
cat(i, "\n")
i <- i + 1
    }
repeat ({
## do something
## in loop body
})

In [ ]:
iter <- 0
repeat ({
if (runif(1) < 0.25) {
break
} else {
iter <- iter + 1
}
})
iter

In [ ]:
df1 <- data.frame(ID = rep(c("A", "B", "C"), each = 3), V1 = rnorm(9), V2 = rnorm(9))
m1 <- as.matrix(df1[-1])

Suppose we need to do the sum of each column in a dataset
set.seed(20)
df1 <- data.frame(ID = rep(c("A", "B", "C"), each = 3), V1 = rnorm(9), V2 = rnorm(9))
m1 <- as.matrix(df1[-1])
There are many ways to do this. Using base R , the best option would be colSums
colSums(df1[-1], na.rm = TRUE)
Here, we removed the first column as it is non-numeric and did the sum of each column, specifying the na.rm =
TRUE (in case there are any NAs in the dataset)
This also works with matrix
colSums(m1, na.rm = TRUE)
This can be done in a loop with lapply/sapply/vapply
lapply(df1[-1], sum, na.rm = TRUE)
It should be noted that the output is a list . If we need a vector output
sapply(df1[-1], sum, na.rm = TRUE)

In [2]:
url <- "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt"
titanic <- read.csv(file = url, stringsAsFactors = FALSE)

Clean the missing values:
In that case, we replace the missing values by an approximation, the average.
titanic$age[is.na(titanic$age)] <- mean(titanic$age, na.rm = TRUE)
Train the model:
titanic.train <- glm(survived ~ pclass + sex + age,
family = binomial, data = titanic)
Summary of the model:
summary(titanic.train)

In [3]:
titanic$age[is.na(titanic$age)] <- mean(titanic$age, na.rm = TRUE)

In [4]:
titanic.train <- glm(survived ~ pclass + sex + age, family = binomial, data = titanic)

In [5]:
summary(titanic.train)

Call:
glm(formula = survived ~ pclass + sex + age, family = binomial,
    data = titanic)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.6452  -0.6641  -0.3679   0.6123   2.5615

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  3.552261   0.342188  10.381  < 2e-16 ***
pclass2nd   -1.170777   0.211559  -5.534 3.13e-08 ***
pclass3rd   -2.430672   0.195157 -12.455  < 2e-16 ***
sexmale     -2.463377   0.154587 -15.935  < 2e-16 ***
age         -0.042235   0.007415  -5.696 1.23e-08 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1686.8  on 1312  degrees of freedom
Residual deviance: 1165.7  on 1308  degrees of freedom
AIC: 1175.7

Number of Fisher Scoring iterations: 5

In [6]:
glm(formula = survived ~ pclass + sex + age, family = binomial, data = titanic)

Call:  glm(formula = survived ~ pclass + sex + age, family = binomial,
    data = titanic)

Coefficients:
(Intercept)    pclass2nd    pclass3rd      sexmale          age
    3.55226     -1.17078     -2.43067     -2.46338     -0.04224

Degrees of Freedom: 1312 Total (i.e. Null);  1308 Residual
Null Deviance:	    1687
Residual Deviance: 1166 	AIC: 1176

С этой моделью, по сравнению с первым классом, пассажиры 3-го класса имеют примерно десятую часть шансов на выживание.

In [7]:
exp(coef(titanic.train)[3])

 pclass3rd
0.08797765

In [8]:
confint(titanic.train)

Waiting for profiling to be done...

            2.5 %       97.5 %
(Intercept)  2.89486872  4.23734280
pclass2nd   -1.58986065 -0.75987230
pclass3rd   -2.81987935 -2.05419500
sexmale     -2.77180962 -2.16528316
age         -0.05695894 -0.02786211

Пример расчета значимости общей модели:
Статистика теста распределяется по хи-квадрат со степенями свободы, равными разнице в степенях свободы
между текущей и нулевой моделью (т. е. количеством переменных-предикторов в модели).

Значение р близко к 0, что указывает на сильно значимую модель.

In [9]:
with(titanic.train, pchisq(null.deviance - deviance, df.null - df.residual
, lower.tail = FALSE))

[1] 1.892539e-111

In [10]:
# create unbalanced longitudinal (panel) data set
set.seed(1234)
df <- data.frame(identifier=rep(1:5, each=3),
location=rep(c("up", "down", "left", "up", "center"), each=3),
period=rep(1:3, 5), counts=sample(35, 15, replace=TRUE),
values=runif(15, 5, 10))[-c(4,8,11),]
df

   identifier location period counts values
1  1          up       1      28     9.052993
2  1          up       2      16     7.628488
3  1          up       3      22     9.573291
5  2          down     2       5     5.228851
6  2          down     3      16     7.280457
7  3          left     1       4     6.325933
9  3          left     3      22     7.536534
10 4          up       1      26     5.905481
12 4          up       3      15     6.006240
13 5          center   1      14     6.294049
14 5          center   2      14     9.960752
15 5          center   3       4     9.036762

In [12]:
# reshape wide on time variable
df.wide <- reshape(df, idvar="identifier", timevar="period",
v.names=c("values", "counts"), direction="wide")
df.wide

   identifier location values.1 counts.1 values.2 counts.2 values.3 counts.3
1  1          up       9.052993 28       7.628488 16       9.573291 22
5  2          down           NA NA       5.228851  5       7.280457 16
7  3          left     6.325933  4             NA NA       7.536534 22
10 4          up       5.905481 26             NA NA       6.006240 15
13 5          center   6.294049 14       9.960752 14       9.036762  4

R comes with built-in functionals, of which perhaps the most well-known are the apply family of functions. Here is a
description of some of the most common apply functions:
lapply() = takes a list as an argument and applies the specified function to the list.
sapply() = the same as lapply() but attempts to simplify the output to a vector or a matrix.
vapply() = a variant of sapply() in which the output object's type must be specified.
mapply() = like lapply() but can pass multiple vectors as input to the specified function. Can be simplified
like sapply() .
Map() is an alias to mapply() with SIMPLIFY = FALSE .
lapply()
lapply() can be used with two different iterations:
lapply(variable, FUN)
lapply(seq_along(variable), FUN)

In [13]:
require(RWeka)
require(tau)
require(tm)
require(tm.plugin.webmining)
require(wordcloud)

Loading required package: RWeka
Loading required package: tau

Attaching package: 'tau'

The following object is masked from 'package:readr':

    tokenize

Loading required package: tm
Loading required package: NLP

Attaching package: 'NLP'

The following object is masked from 'package:ggplot2':

    annotate

Loading required package: tm.plugin.webmining

Attaching package: 'tm.plugin.webmining'

The following object is masked from 'package:magrittr':

    extract

The following object is masked from 'package:tidyr':

    extract

The following object is masked from 'package:base':

    parse

Loading required package: wordcloud
Loading required package: RColorBrewer

In [15]:
lv.yahoonews <- WebCorpus(YahooNewsSource("LifeVantage"))

In [16]:
corpus <- c(lv.yahoonews)

In [17]:
inspect(corpus)
wordlist <- c("lfvn", "lifevantage", "protandim", "truescience", "company", "fiscal", "nasdaq")

<<WebCorpus>>
Metadata:  corpus specific: 3, document level (indexed): 0
Content:  documents: 0

list()

In [19]:
ds0.1g <- tm_map(corpus, content_transformer(tolower))
ds1.1g <- tm_map(ds0.1g, content_transformer(removeWords), wordlist)
ds1.1g <- tm_map(ds1.1g, content_transformer(removeWords), stopwords("english"))
ds2.1g <- tm_map(ds1.1g, stripWhitespace)
ds3.1g <- tm_map(ds2.1g, removePunctuation)
ds4.1g <- tm_map(ds3.1g, stemDocument)
tdm.1g <- TermDocumentMatrix(ds4.1g)
dtm.1g <- DocumentTermMatrix(ds4.1g)

In [20]:
findFreqTerms(tdm.1g, 40)
findFreqTerms(tdm.1g, 60)
findFreqTerms(tdm.1g, 80)
findFreqTerms(tdm.1g, 100)
findAssocs(dtm.1g, "skin", .75)
findAssocs(dtm.1g, "scienc", .5)
findAssocs(dtm.1g, "product", .75)
tdm89.1g <- removeSparseTerms(tdm.1g, 0.89)
tdm9.1g <- removeSparseTerms(tdm.1g, 0.9)
tdm91.1g <- removeSparseTerms(tdm.1g, 0.91)
tdm92.1g <- removeSparseTerms(tdm.1g, 0.92)
tdm2.1g <- tdm92.1g
# Creates a Boolean matrix (counts # docs w/terms, not raw # terms)
tdm3.1g <- inspect(tdm2.1g)
tdm3.1g[tdm3.1g>=1] <- 1
# Transform into a term-term adjacency matrix
termMatrix.1gram <- tdm3.1g %*% t(tdm3.1g)
# inspect terms numbered 5 to 10
termMatrix.1gram[5:10,5:10]
termMatrix.1gram[1:10,1:10]
# Create a WordCloud to Visualize the Text Data ---------------------------
notsparse <- tdm2.1g
m = as.matrix(notsparse)
v = sort(rowSums(m),decreasing=TRUE)
d = data.frame(word = names(v),freq=v)
# Create the word cloud
pal = brewer.pal(9,"BuPu")
wordcloud(words = d$word,
freq = d$freq,
scale = c(3,.8),
random.order = F,
colors = pal)

NULL

NULL

NULL

NULL

$skin
numeric(0)

$scienc
numeric(0)

$product
numeric(0)

<<TermDocumentMatrix (terms: 0, documents: 0)>>
Non-/sparse entries: 0/0
Sparsity           : 100%
Maximal term length: 0
Weighting          : term frequency (tf)
Sample             :
<0 x 0 matrix>

ERROR: Error in termMatrix.1gram[5:10, 5:10]: подгруппа выходит за пределы

In [ ]:
result <- as.numeric(readline(prompt = "What is the result of 1+1?"))
while(result!=2){
readline(prompt = "Wrong answer. What is the result of 1+1?")
}

In [ ]:
library(RMySQL)
mydb <- dbConnect(MySQL(), user='user', password='password', dbname='dbname',host='127.0.0.1')
queryString <- "SELECT * FROM table1 t1 JOIN table2 t2 on t1.id=t2.id"
query <- dbSendQuery(mydb, queryString)
data <- fetch(query, n=-1) # n=-1 to return all results

In [ ]:
# get the file path of a CSV included in R's utils package
csv_path <- system.file("misc", "exDIF.csv", package = "utils")
# path will vary based on installation location
csv_path
## [1] "/Library/Frameworks/R.framework/Resources/library/utils/misc/exDIF.csv"
df <- read.csv(csv_path)
df

In [ ]:
df <- read.csv(file.choose())

In [ ]:
mystring <- c('The number 5',
'The number 8',
'1 is the loneliest number',
'Company, 3 is',
'Git SSH tag is git@github.com',
'My personal site is www.personal.org',
'path/to/my/file')

grep('5', mystring)

In [ ]:
library(randomForest)
rf <- randomForest(x = iris[, 1:4],
y = iris$Species,
ntree = 500,
do.trace = 100)
rf

In [21]:
library(RCurl)
library(XML)
url <- "http://www.imdb.com/chart/top"
top <- getURL(url)
parsed_top <- htmlParse(top, encoding = "UTF-8")
top_table <- readHTMLTable(parsed_top)[[1]]
head(top_table[1:10, 1:3])

Loading required package: bitops

Attaching package: 'RCurl'

The following object is masked from 'package:tidyr':

    complete

ERROR: Error in readHTMLTable(parsed_top)[[1]]: подгруппа выходит за пределы